.Rdiv  { 
   margin: 5% 39%;
    background-color: #ecf0f3;
box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
height:500px;
width:350px;
border-radius: 20px;
}
 
h2 {
    color:#1DA1F2;
    margin-top: 60px;
    margin-left: 30%;
 }

 /* body {
    display: flex;
    justify-content: center;
    place-items: center;
    font-family: poppins;
    text-align: center;
 } */

 .maindiv{
    text-align: left;
    margin-top: 30px;
    
 }

 label,input,button{
    display: block;
    width: 80%;
    outline: none;
 }

 input{
   background:  #ecf0f3;
   padding: 10px;
   padding-left: 20px;
   border-radius: 20px;
   box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
 }

button{
    color:white;
    background: #1DA1F2;
    margin-top: 50px;
    height:40px;
    text-align: center;
}


























